<div class="container">

  <header>
    <img src="../assets/logo.png" alt="logo github explorer">
  </header>

  <h1>Explore repositórios no GitHub</h1>
  <form>
    <input type="text" placeholder="Digite aqui...">
    <button>Pesquisar</button>
  </form>

  <a class="card">
    <div class="card_info">
      <img src="https://www.github.com/ecthon.png">
      <div>
        <h4>ecthon/githubexplorer-angular</h4>
        <p>Descrição do repo...</p>
      </div>
    </div>
    <img src="../assets/right.svg" alt="Seta apontando para direita">
  </a>

</div>

<router-outlet></router-outlet>